In [1]:
name=["raju","ramu","suraj","bobby"]
type(name)

list

In [2]:
cities={"kalady:india","berlin:germany","abu dhabi:uae"}

In [3]:
cities

{'abu dhabi:uae', 'berlin:germany', 'kalady:india'}

In [5]:
states={"kl":{'capital':'TVM','rank':'1'},
        "tn":{'capital':'chennai','rank':'2'},
        "ka":{'capital':'blr','rank':'3'}}

In [6]:
states

{'kl': {'capital': 'TVM', 'rank': '1'},
 'tn': {'capital': 'chennai', 'rank': '2'},
 'ka': {'capital': 'blr', 'rank': '3'}}

In [7]:
set1=('apple','orange','mango','grapes')

In [8]:
type(set1)

tuple

In [1]:
def

SyntaxError: invalid syntax (1885169875.py, line 1)

In [ ]:
def addition(a,b):
    c=a+b
    return c

In [5]:
a=int(input("write a num 1"))
b=int(input("write a num 2"))
print("sum is",add(x,y))

write a num 12
write a num 24

NameError: name 'add' is not defined

In [6]:
def great(x,y,z):
    if x>y and x>z:
        return x
    elif y>x and y>z:
        return y
    else:
        return z

In [7]:
great(3,5,6)

6

In [9]:
scores=[1,2,3,4,5,6]
scores.sort(reverse=True)
scores[1]

5

In [1]:
scores=[1,2,3,4,5,6]
scset=set(scores)
top=max(scset)
scset.remove(top)
print(max(scset))

5

In [7]:
s1={2,3,4,5,6,7}
s2={5,6,7,8,9,0}
if s1.intersection(s2):
    print(s1&s2)
else:
    print(s1.union(s2))

{5, 6, 7}

In [6]:
d={"john":[25,32,43],'peter':[87,55,96],'ram':[58,55,43],'meena':[63,79,45]}
n=input('enter the name to  be update')
if n in d:
    d[n]=[88,77,99]
else:
    print('name not found')

enter the name to  be updateJohn
name not found

In [8]:
age=[23,36,48]
print('elder =',max(age))
print('young =',min(age))

elder = 48
young = 23

In [9]:
s='nirmala'
s[::2]

'nraa'